<div class="alert alert-secondary text-center" id="statusConexao">
	Conectando ao servidor...
</div>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="form-group">
					<label for="animacaoAtual">Animação Atual</label>
					<select class="form-control" id="animacaoAtual">
						<option value="Base">Nenhuma animação</option>
						<option value="1">Flexão de braços na parede</option>
						<option value="2.L">Prancha lateral adaptada na parede (Esq)</option>
						<option value="2.R">Prancha lateral adaptada na parede (Dir)</option>
						<option value="3">Contração do músculo transverso do abdômen associada à flexão de braços na parede</option>
						<option value="4.L">Guerreiro 1 (Esq)</option>
						<option value="4.R">Guerreiro 1 (Dir)</option>
						<option value="5.L">Guerreiro 2 (Esq)</option>
						<option value="5.R">Guerreiro 2 (Dir)</option>
						<option value="6.L">Elevação em diagonal acima da cabeça combinada com mini agachamento (Esq)</option>
						<option value="6.R">Elevação em diagonal acima da cabeça combinada com mini agachamento (Dir)</option>
						<option value="7">Agachamento + flexão de ombros</option>
						<option value="8">Agachamento sumô com remada alta</option>
						<option value="9">Círculos com membros superiores em pé</option>
						<option value="10">Extensão de cotovelo em pé com tronco inclinado pra frente</option>
						<option value="11.L">Flexão de ombro unilateral em decúbito lateral (Esq)</option>
						<option value="11.R">Flexão de ombro unilateral em decúbito lateral (Dir)</option>
						<option value="12">Flexão de ombros + passada lateral alternada com abdução de ombros</option>
						<option value="13">Flexão de ombros alternada em pé</option>
						<option value="14">Passada lateral dupla com abdução de ombro</option>
						<option value="15">Postura da prece</option>
						<option value="16.L">Postura do guerreiro invertido (Esq)</option>
						<option value="16.R">Postura do guerreiro invertido (Dir)</option>
						<option value="17">Remada aberta inclinada</option>
						<option value="18">Remada fechada inclinada</option>
						<option value="19">Retração escapular com as mãos na cintura</option>
						<option value="20.L">Rosca direta (Esq)</option>
						<option value="20.R">Rosca direta (Dir)</option>
						<option value="21">Rotação de tronco + soco alternado</option>
						<option value="22.L">Tríceps testa unilateral deitado (Esq)</option>
						<option value="22.R">Tríceps testa unilateral deitado (Dir)</option>
					</select>
				</div>
				<div class="form-group">
					<label for="velocidade">Velocidade <small id="velocidadeAtual">100%</small></label>
					<input type="range" class="form-control" id="velocidade" min="20" max="200" value="100" oninput="document.getElementById('velocidadeAtual').textContent = this.value + '%'" />
				</div>
				<div class="text-center">
					<button class="btn btn-primary" onclick="reproduzirAnimacao()">Reproduzir</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="form-group">
					<label for="fundoAtual">Fundo Atual</label>
					<select class="form-control" id="fundoAtual">
						<option value="1">Academia</option>
						<option value="2">Montanha</option>
					</select>
				</div>
				<div class="text-center">
					<button class="btn btn-primary" onclick="alterarFundo()">Alterar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>

<script src="<%- staticRoot %>/lib/socket.io/socket.io.min.js"></script>

<%- contentFor("scripts") %>

<script type="text/javascript">
	"use strict";

	let socket = null;

	function inicializarSocket() {
		// Inicializa a conexão com o servidor Socket.IO
		socket = io();

		// Evento disparado quando a conexão é estabelecida
		socket.on("connect", () => {
			document.getElementById("statusConexao").innerHTML = "Conectado ao servidor";
		});

		// Evento disparado quando a conexão é perdida
		socket.on("disconnect", () => {
			document.getElementById("statusConexao").innerHTML = "Desconectado do servidor";
		});
	}

	function reproduzirAnimacao() {
		socket.emit("reproduzirAnimacao", {
			nome: document.getElementById("animacaoAtual").value,
			velocidade: parseInt(document.getElementById("velocidade").value),
		});
	}

	function alterarFundo() {
		socket.emit("alterarFundo", {
			fundo: document.getElementById("fundoAtual").value,
		});
	}

	inicializarSocket();
</script>
